In [1]:
import pandas as pd
import numpy as np

In [9]:
dates = pd.date_range('1/1/2018', periods=8)

In [10]:
dates

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])

In [12]:
df

                   A         B         C         D
2018-01-01 -0.807281 -0.227755  0.430245  0.618823
2018-01-02  0.777623  0.306812 -0.893166 -0.543816
2018-01-03 -0.996103  0.518574  0.590198  1.419015
2018-01-04 -0.350860  1.764987  0.513623 -0.800207
2018-01-05  0.925269 -0.208009  1.208076  1.220448
2018-01-06  0.743314  0.076934 -0.620541 -0.634178
2018-01-07 -1.823492  0.218868  0.150221 -1.093117
2018-01-08  0.807512  0.479420  0.266078  0.202172

# Manipula Planilha

In [2]:
df = pd.read_csv("ManipulaPlan.csv")

In [3]:
print(df.head())

   A  B
0  1  0
1  3  1
2  4  2
3  5  3

In [5]:
df['C'] = df['A'] + df['B']

## Instalação

In [4]:
df = pd.read_excel("ie_dimension.xls")

In [5]:
df

            Comodo   Área  Perímetro
0             Sala   9.91       12.6
1             Copa   9.46       12.3
2          Cozinha  11.44       13.6
3     Dormitório A  11.05       13.3
4         Banheiro   4.14        8.2
5             Hall   1.80        5.6
6     Dormitório B  10.71       13.1
7  Área de serviço   5.95       10.3
8     Área Externa   0.00        0.0

In [19]:
df['Pilum'] = (df["Área"]-6).mul(1./4)

In [20]:
df

            Comodo   Área  Perímetro   Pilum
0             Sala   9.91       12.6  0.9775
1             Copa   9.46       12.3  0.8650
2          Cozinha  11.44       13.6  1.3600
3     Dormitório A  11.05       13.3  1.2625
4         Banheiro   4.14        8.2 -0.4650
5             Hall   1.80        5.6 -1.0500
6     Dormitório B  10.71       13.1  1.1775
7  Área de serviço   5.95       10.3 -0.0125
8     Área Externa   0.00        0.0 -1.5000

In [21]:
df['Pilum'] = np.where(df.Pilum  < 1, 100, 100 + (df.Pilum.values.astype(np.int64))*60)
#SE((D3-6)/4<1;0;INT((D3-6)/4)   .values.astype(np.int64)

In [27]:
df

            Comodo   Área  Perímetro  Pilum
0             Sala   9.91       12.6    100
1             Copa   9.46       12.3    100
2          Cozinha  11.44       13.6    160
3     Dormitório A  11.05       13.3    160
4         Banheiro   4.14        8.2    100
5             Hall   1.80        5.6    100
6     Dormitório B  10.71       13.1    160
7  Área de serviço   5.95       10.3    100
8     Área Externa   0.00        0.0    100

In [40]:
df['TUG'] = np.where((df.Comodo.str.contains("Dormi")) | (df.Comodo.str.contains("Sala")) , (df.Perímetro.values/5),0)

In [41]:
df[(df.Comodo.str.contains("Dormi")) | (df.Comodo.str.contains("Sala"))]

         Comodo   Área  Perímetro  Pilum   TUG
0          Sala   9.91       12.6    100  2.52
3  Dormitório A  11.05       13.3    160  2.66
6  Dormitório B  10.71       13.1    160  2.62

In [ ]:
# Referência:

https://pandas.pydata.org/pandas-docs/stable/indexing.html
    
https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c

In [ ]:
# Novos estudos
https://juliocprocha.wordpress.com/category/programacao/
    
    https://www.tensorflow.org/